---
import Layout from '../../layouts/2024.astro';
import WrapperWithNav from '../../layouts/2024/WrapperWithNav.astro';
import { Image } from 'astro:assets';

import ThisNextThing from "../images/2024/this-next-thing.svg"
import mountains from "../images/2024/mountains.webp"
---
<Layout title="About">
  <WrapperWithNav>
    <h2>About</h2>
    <p>
      Returning for 2024, This Next Thing is an in-person gathering for curious-minded folks in tech, business, and beyond who want to make a positive impact on the world. On June 16th, guests will make their way to their chosen starting point: Zürich, Innsbruck, or Milan. A local warmup unconference will happen in the starter city, before departing the morning of the 17th toward Pontresina in the Eastern Swiss Alps.
    </p>

    <p>
      Next year’s event will be similar in structure to the inaugural event, but we’ll be adding lots of new stuff to keep it fresh. We’ve made a list of things that we think we can improve, and we want to iterate on the things that really worked.
    </p>

    <p>
      <a class="font-bold" href="https://en.wikipedia.org/wiki/Thing_(assembly)#Norway" target="_new">“Thing”</a> in its original sense was the gathering of people for lawmaking, socialising, and trade. This Next Thing gathers interesting and interested people, celebrating our relationships with the world, and exploring how those relationships should evolve.
    </p>
  </WrapperWithNav>
</Layout>