---
import Layout from '../../layouts/2024.astro';
import WrapperWithNav from '../../layouts/2024/WrapperWithNav.astro';
import { Image } from 'astro:assets';

import ThisNextThing from "../images/2024/this-next-thing.svg"
import mountains from "../images/2024/mountains.webp"
---
<Layout title="About">
  <WrapperWithNav>
    <h2>About</h2>
    <p>
      Returning for 2024, This Next Thing is an in-person gathering for curious-minded folks in tech, business, and beyond who want to make a positive impact on the world. On June 16th, guests will make their way to their chosen starting point: Zürich, Innsbruck, or Milan. A local warmup unconference will happen in the starter city, before departing the morning of the 17th toward Pontresina in the Eastern Swiss Alps.
    </p>

    <div class="mb-4">
      <p class="mb-0">
        The event is broken into three parts:
      </p>

      <ul class="list-disc list-outside ml-8 mb-4">
        <li>
          <strong class="font-heavy uppercase text-sm text-gray-500">Day Zero</strong> <span class="uppercase text-sm">- Sunday, June 16</span>
          <br>
           A <strong>warmup</strong> day, in your choice of starter city: Zürich, Innsbruck, or Milan.
        </li>
        <li>
          <strong class="font-heavy uppercase text-sm text-gray-500">Day One</strong> <span class="uppercase text-sm">- Monday, June 17</span>
          <br>
          A <strong>travel</strong> day, from your starter city up into The Alps.
        </li>
        <li>
          <strong class="font-heavy uppercase text-sm text-gray-500">Day Two</strong> <span class="uppercase text-sm">- Tuesday, June 18</span>
          <br>
          A <strong>fete</strong> day of talks, workshops, & social time.</li>
      </ul>

      <p>
        Two optional <strong>Epilogue Days</strong>, Wednesday June 19 and 20 are available at your discretion. June 19 will be "unorganised", and June 20 will be a free day for guests to do as they please, with an optional organised dinner.
      </p>
    </div>

    <div class="mb-4">
      <p class="mb-0">Tickets to This Next Thing include:</p>

      <ul class="list-disc list-outside ml-8">
        <li>Dinner <strong>days zero, one, and two</strong></li>
        <li>Lunch <strong>days one and two</strong></li>
        <li>Breakfast <strong>days two and three</strong></li>
        <li>One-way <strong>transport</strong> to Pontresina.</li>
        <li>Accommodation <strong>days one and two</strong> in Pontresina</li>
      </ul>
    </div>

    <p>You can read <a href="/2023/guide">our booking guide</a> for more on what to book and what’s included.</p>

    <p>
      <a class="font-bold" href="https://en.wikipedia.org/wiki/Thing_(assembly)#Norway" target="_new">“Thing”</a> in its original sense was the gathering of people for lawmaking, socialising, and trade. This Next Thing gathers interesting and interested people, celebrating our relationships with the world, and exploring how those relationships should evolve.
    </p>
  </WrapperWithNav>
</Layout>