---
import Layout from '../../layouts/2024.astro';
import WrapperWithNav from '../../layouts/2024/WrapperWithNav.astro';
import { Image } from 'astro:assets';

import ThisNextThing from "../../images/2024/this-next-thing.svg"
import mountains from "../images/2024/mountains.webp"
---
<Layout title="About">
  <WrapperWithNav>
    <div>
        <Image src={ThisNextThing} alt="This Next Thing" />
        Creative minds. Meaningful relationships. Magical experiences.
        <h4 class="font-bold">16th to 20th June 2024</h4>
      </div><br/>
    <div class="prose">
      <h2 class="font-medium text-sm">What is This Next Thing all about?</h2>

      <p class="text-sm bg-gray-200 rounded bg-opacity-50 -mx-8 p-8 py-4"><em>Before we tell you more about This Next Thing, we wanted to acknowledge the jarring nature of sharing about our event in the Swiss Alps while a huge global conflict rages. These decisions are difficult and fraught. Ultimately though, we keep coming back to our sincere belief in the power of connection and coming together as a community, in times both joyful and dire. We've made the decision here to proceed with our planning anyway, and we invite anyone who wants to chat with us about this choice to <a href="/2024/contact">please reach out</a>.</em></p>

      <p>On its face, This Next Thing can <em>look like</em> a tech conference. But as we and 150+ of our new friends who all gathered last summer in the Swiss Alps can attest to, it’s so much more. Outside of the astounding natural setting and sumptuous venue, what sets This Next Thing apart is our people.</p>

      <p>Whether our guests were old friends seeing each other for the first time in a decade or new faces who would become so dear to us over the coming days, everyone joined the event in an elevated state, primed for the magical experience to come. Knowing that this wasn’t going to be a typical conference, our community brought with them a spirit of friendship and a desire to learn, share, and grow. This Next Thing became a space where they could explore their next thing.</p>

      <h3>The spirit of This Next Thing</h3>

      <p>This feeling most encapsulates what we’re trying to create with This Next Thing as a movement: not something that exists for only a few days, but one that carries over for weeks, months, years afterwards. We want to grow the spirit of This Next Thing through a community of people who are building technologies and their own communities to positively impact the world.</p>

      <p>In the days and weeks following our 2023 prototype event, we were overwhelmed with the <a href="/2024/testimonials">positive feedback from attendees</a>. After taking time to reflect on it all, we asked ourselves how we could best serve this nascent community and continue to put on a show that creates unique memorable experiences that open space for meaningful relationships to grow.</p>

      <h3>A non-profit organisation</h3>

      <p>We decided that the path to creating a long-term, viable, and sustainable operation around this community would be to form a non-profit organisation, headquartered (as you might expect) in Ireland. We feel this is by far the best fit for our goal to be a service to our community. While we are still working out the finer details, here is what we can share with you now:</p>

      <ul>
        <li>We will be returning with This Next Thing 2024 (TNT 24) to Pontresina the week of June 16th, 2024.</li>
        <li>We have exclusive use of both the Grand Kronenhof and Saratz hotels.</li>
        <li>We will increase our attendee capacity to 300.</li>
        <li>We would love to directly incorporate the talents and efforts of our community even more in TNT 24.</li>
        <li>Two weeks ago, we released some early access tickets to people who attended TNT 23.</li>
        <li>We are now ready to open those early access tickets to people who have not yet been, but want to join us.</li>
        <li>
          Early access tickets are limited in numbers and only available until they sell out.
        </li>
        <li>For many of us, magical experiences are ones we want to share with those we love. Towards that end, TNT welcomes attendees’ families and have special tickets, available now, for you to purchase for your plus-ones and children.</li>
      </ul>

      <p><a href="/2024/book"><strong class="font-medium underline">Secure your discounted early-access ticket</strong></a></p>
    </div>
  </WrapperWithNav>
</Layout>
