---
import Layout from '../../layouts/2024.astro';
import WrapperWithNav from '../../layouts/2024/WrapperWithNav.astro';
import { Image } from 'astro:assets';

import ThisNextThing from "../images/2024/this-next-thing.svg"
import mountains from "../images/2024/mountains.webp"
---
<Layout title="About">
  <WrapperWithNav>
    <h2>Contact us</h2>
    <p>You can contact us on our <a href="https://discord.gg/DsSEgV6gMY" class="font-bold">Discord server</a>.</p>

    <p>
      Alternatively, you can get in touch via our LinkedIn page, or via email to abby@, eamo@, or paul@ or simply <a href="mailto:info@thisnextthing.com" class="font-bold">info@thisnextthing.com</a>.
    </p>
  </WrapperWithNav>
</Layout>