---
import Layout from '../../layouts/2024.astro';
import WrapperWithNav from '../../layouts/2024/WrapperWithNav.astro';
import { Image } from 'astro:assets';

import ThisNextThing from "../../images/2024/this-next-thing.svg"
import mountains from "../images/2024/mountains.webp"

import { Icon } from 'astro-icon'
---
<Layout title="Contact">
  <WrapperWithNav>
    <div>
      <Image src={ThisNextThing} alt="This Next Thing" />
      Creative minds. Meaningful relationships. Magical experiences.
      <h4 class="font-bold">16th to 20th June 2024</h4>
    </div>
    <h2>Contact us</h2>

    <dl>
      <dt>
        <Icon pack="mdi" name="envelope" />
        Email
      </dt>
      <dd><a href="mailto:info@thisnextthing.com" class="font-bold">info@thisnextthing.com</a></dd>

      <dt>
        <Icon pack="mdi" name="discord" />
        Discord
      </dt>
      <dd><a href="https://discord.gg/DsSEgV6gMY" class="font-bold">Join our server</a></dd>

      <dt>
        <Icon pack="mdi" name="linkedin" />
        LinkedIn
      </dt>
      <dd><a href="https://www.linkedin.com/company/this-next-thing" class="font-bold">See our page</a></dd>
    </dl>
  </WrapperWithNav>
</Layout>

<style>
  dd { margin-bottom: 2rem }
  svg { width: 1rem }
  dt { display: flex; gap: 0.25rem }
</style>