---
import Layout from '../../layouts/2024.astro';
import WrapperWithNav from '../../layouts/2024/WrapperWithNav.astro';
import { Image } from 'astro:assets';

import ThisNextThing from "../images/2024/this-next-thing.svg"
import mountains from "../images/2024/mountains.webp"
---
<Layout title="About">
  <WrapperWithNav>
    <h2>Booking guide</h2>

    <p>At the moment, you can book an early-access ticket which will guarantee you a room in Grand Hotel Kronenhof.</p>

    <p>Later, we’ll announce details of the starter cities, and you’ll need to make a choice of what city to start in and booking flights etc, and we’ll post a guide like our 2023 edition.</p>
  </WrapperWithNav>
</Layout>