---
import Layout from '../../layouts/2024.astro';
import WrapperWithNav from '../../layouts/2024/WrapperWithNav.astro';
import { Image } from 'astro:assets';

import ThisNextThing from "../../images/2024/this-next-thing.svg"
import mountains from "../images/2024/mountains.webp"
---
<Layout title="About">
  <WrapperWithNav>
    <div>
        <Image src={ThisNextThing} alt="This Next Thing" />
        Creative minds. Meaningful relationships. Magical experiences.
        <h4 class="font-bold">16th to 20th June 2024</h4>
      </div><br/>
    <div class="prose">
      <h2 class="font-medium text-sm">Exploring the adjacent possible</h2>

        <p>A sepia filter descends over the lake. The last rays of sunshine glisten off of church spires on the far shore, and purple and pink tones spread across the darkening sky. This is quite possibly the most beautiful view I’ve ever seen.</p>
        <p>“Yeah so, it’s a bit strange, but the worse you are, the harder you have to blow…”</p>
        <p>I’m sitting with a group of 3 tech enthusiasts from 3 different countries. My new friend from the States is explaining his new obsession to the newly formed group - glass-blowing. He took it up as a hobby after exiting his last startup.</p>
        <p>“You see, the more experienced you are with the glass, the hotter you can keep it while you craft something. This makes it more pliable…”</p>
        <p>The table stretches out in both directions from where I'm sitting. About 40 other people are eating here with me. Half of us get the majestic view I just described, while the rest sit with our backs to the lake that extends into the distance. We're upstairs at the Seeclub in Zurich.</p>
        <p>The group is a mixture of tech workers, technophiles, and tech-adjacent people of all ages. The youngest of us is enjoying her summer break before her final year of high school begins. The oldest has more than a few grey hairs in his beard. I recognised one person when I arrived, but apart from that, the group are complete strangers to me.
        I saw a few people greet each other like old friends, but most of us are a little apprehensive, and the crowd hums with that nervous first day of camp energy. You know you’re going to make friends, but you don’t feel sure.</p>
        <p>The nervous energy is heightened by the fact that not one member of the group knows exactly what’s about to happen. That’s basically the whole point of this experience, and it’s part of the reason why this event has attracted attendees from all corners of the globe.</p>
        <p>We have assembled here to attend This Next Thing - described as a gathering, an event, and somewhat reluctantly, a conference. The main selling point for most of the attendees that have gathered here is that this is the furthest thing from your traditional tech conference as you can imagine. There are no display stands, no innovation corners, no sales reps for large public SaaS companies. There isn’t even an itinerary. Or at least, the carefully planned itinerary is a secret to everyone not part of the planning team.</p>
        <p>I excuse myself from the table and make my way down to the dock that extends out into the clear lake. A man and a woman are treading water off the end of the dock. They’re attempting to convince a reluctant friend to join in.</p>
        <p>A few minutes later and I’m diving headfirst into the water…</p>

        <hr/>

        <p>I know Eamon as the guy who runs the coffee morning for startup founders in Dublin. It’s on every couple of weeks, and during the leaner periods of my own startup journey, it was a welcome free coffee from a very nice cafe (if you know 3FE, you know).</p>
        <p>More importantly, the coffee morning is a space for startup founders to share their highs and lows, triumphs and failures, peaks and troughs, with a community who have some shared understanding of the journey.</p>
        <p>Sometimes, the room would be packed, but many mornings, it was just Eamon, Fiona Kelly (GP with Eamon at their fund, Broadstone), and 1 or 2 others. The meetup isn’t flashy - it never involves a pitch event or a meet-and-greet with some famous investor. It is the polar opposite of many of the events that are promoted to struggling founders. It’s just some nice coffee and some honest chats.</p>
        <p>When Eamon tweeted looking for someone to come to the event and write an account, I DMed him to volunteer. It sounded like fun. I had no idea how much fun it would turn out to be.</p>

        <p>Early the next morning in Zurich, I set off on my way to the small Alpine village where the rest of the conference is set to take place. The journey itself is part of the experience, and we’ve been told to expect something interesting on the way. I’m a late addition to the group, so there’s no space for me on the transport organised for the first leg. I’m told to meet them at Chur station, an hour or so outside of Zurich.</p>
        <p>I take the 10:14 train from Zurich HBB to Chur. My seat is in the middle of the group of teenagers heading off on a school trip. I make idle conversation with their teacher as the train tracks the outline of Lake Zurich. Thick beams of sunlight reflect off of the deep azure waters. Switzerland really does look like something out of a fairytale.</p>
        <p>When I arrive at Chur, I have an hour or so to kill while I wait for the rest of the group to get here. I walk around the picturesque town. There are a number of buildings here that are more ornate than anything you can find in Dublin.</p>
        <p>The bus finally arrives and I meet up with the crew from the night before. We get some food in the town before heading back to the station, where we’re told that a surprise is waiting for us on Platform 10.
        We’re most of the way down the platform when we spot it. The standard shape of the SBB train ends and an antique train car extends beyond. It’s like something out of a black-and-white film. Panel wood doors open onto wide train cars, with thick, upholstered chairs replacing the usual cramped seats.</p>
        <p>We board the train and sit in our temporary thrones. It's quickly agreed that this is the most luxurious train any of us have ever seen, let alone travelled on. One member of the group, sitting opposite me, wears a slight smirk on his face.</p>
        <p>“I knew something like this was coming. This is just like Funconf…”</p>

        <hr/>

        <p>Funconf was a creation of Eamon and Paul. They’d worked together on a number of informal and formal gatherings before the famous (or infamous) Funconf 3.
        <p>The conference began in a fairly boring corporate hotel on the outskirts of Dublin. Attendees arrived at an unmemorable event hall where the Amazon CTO, Werner Vogels, kicked off proceedings with an unenthusiastic breakdown of the most recent Fire phone.
        <p>Once the group had accepted their fate and started to sink into a half-asleep stupor, Paul and Eamon dashed onto the stage. They loudly denounced this sort of thing - the kind of half-asleep tech conferences that were all the rage at the time.
        <p>What happened next sounds like something out of an episode of the TV show Silicon Valley crossed with a Dan Brown novel. The crowd were quickly ushered onto a number of waiting tour buses. A Garda (police) escort raced them through the city centre, where they disembarked at Heuston train station. There they met a number of bemused passengers who wondered where the 12:42 train to Funconf was actually going.
        <p>The train brought them to Galway, where they were then ushered into another hotel. This time the talks were informal lightning talks led by members of the crowd. A crowd that was slowly thinning out, one table at a time.
        <p>The attendees were tapped on the shoulder one by one, and directed out of the hotel, across the road and into a car park. They could hear a whirring noise slowly build into a dull roar. A pair of helicopters was waiting to bring them across a stretch of ocean to the only logical place to host a tech conference in Ireland: the Aran Islands.

        <p>My new friend looks wistfully out the window as he finishes his story. You can tell that he’s reliving a strong memory. As the train pulls out of Chur station, he turns back towards us and smiles.
        “There was such an attention to detail…I was in a small little cottage with 5 people who were all interested in the exact same open-source projects as me….”</p>
        <p>This seems to be the hallmark of anything that Paul and Eamon do together. There’s always a mixture of fun and a little chaos, but the core theme is care and craft. There’s an attention to the important details that ensure that people make genuine connections with one another.</p>
        <p>The train attendant walks through the carriage and hands out bottles of water.
        “Make sure to enjoy the view…” she says as she passes.</p>

        <hr/>

        <p>Surabhi read the email first and immediately texted her friend Fatma. This didn’t feel real, but she knew that it was. This was actually happening.</p>
        <p>She met Eamon the previous summer while participating in the Patch accelerator program in Dogpatch labs. Patch describes itself as an accelerator for 16 – 21 year olds who want to push the world forward. </p>
        <p>Surabhi was on the younger end of the scale that summer, but she was very much part of the tribe. Her BT Young Scientist entry, a model to predict the number of space debris in low Earth orbit for the next century, stood out to the Patch team. She was encouraged to apply, and they accepted her eagerly.</p>
        <p>Fatma heard about Patch in an email from a lecturer. She was halfway through an Engineering degree at Trinity College Dublin when she submitted her application. She applied with a friend, but they decided that their idea wasn’t going to work before the program started so they parted ways amicably. Fatma was on the hunt for something new to work on when she met Surabhi at the start of the summer.</p>
        <p>They became fast friends, bonding over their shared love of the singer Lana Del Rey (she is criminally underrated according to the pair). They decided to form a group and brainstormed projects that they could work on together during the program.</p>
        <p>Eamon was a volunteer mentor helping the groups make progress on their various different projects. He was impressed by Surabhi and Fatma when he worked with them during Patch. He was so impressed that when the time came to pick a few lucky students and young people for scholarships for an event he was planning in the Swiss Alps, he thought of them.</p>
        <p>And now they were both reading and re-reading the email that invited them to an event unlike anything they had ever experienced before. And while the invitation on a trip of a lifetime was obviously fantastic, what was more important to the pair was the affirmation that it represented. They were both blown away by the positive comments from Eamon that came along with the invitation.</p>
        <p>Both Surabhi and Fatma needed tourist visas to travel to Switzerland. They also both live over an hour from the Swiss embassy in Dublin. The visa process surprised them with its twists and turns. At one point, it looked like Surabhi might not get hers in time; she was under 18 and needed her parents to sign every form. One missed form held the entire application up. Her dad came to the rescue; he took a whole day off work to travel in and sign the last piece of paper.</p>
        <p>When they were dropped off at the airport one morning in June, Surabhi’s mother asked Fatma to look after her daughter and make sure she didn’t get lost. It would be the first time Surabhi travelled without a parent with her. This proved to be somewhat ironic - for the duration of the trip, Fatma’s phone would refuse to connect to the internet and Surabhi was the one in charge of directions.</p>
        <p>This scholarship group became one of the core elements of the weekend and one of the aspects that is often missing in these sorts of events. The group represented a deep commitment from the organisers to the builder community in Dublin and beyond. They were not picked off the street - they had real connections to Eamon, Paul, and the other members of the wider crew that have attended Eamon and Paul's events in the past. They were the people in the room with the deepest vested interest in what this next thing is - and the ones most likely to affect change.</p>

        <hr/> 

        <p>“GitHub was part of the adjacent possible in 2007 - the pieces were all there, waiting to be put together”<p>
        <p>I’m sitting in the main event space. It’s a community hall stroke convention center across the road from the hotel where we are staying. Except this is a Swiss community hall stroke convention center. Despite its small size, it’s as well kitted out as the fanciest convention center in Dublin.
        <p>We disembarked from the train a few hours ago. It hauled us up high into the Southern portion of the Swiss Alps and left us at the heart of a valley surrounded by towering peaks. The air here is crisp and noticeably thinner. When we arrived at the hotel, we were told that we had a few hours to check into our rooms and relax. We just needed to be outside the convention center at 5PM sharp.
        <p>After a few drinks and chats in the setting sun, the evening began to take shape. We were ushered into the building, up a flight of sleek stairs and into the large event hall. After a few minutes, Eamon and Paul took to the stage. They gave a reeling-in-the-years style runthrough of everything that led up to this event. They told us that their aspiration was that we would rekindle old connections and make new ones. Most of all, they wanted us to enjoy the ride.
        <p>A little while later, Tom Preston-Werner (co-founder of GitHub, and one of the surprise special guests) is giving his talk on the adjacent possible - a metaphorical realm of possibility that acts as a set of breadcrumbs, driving us toward the future. It exists as the total set of possible futures directly accessible from the present. As a framework, it helps to explain why some ideas seem to float in the ether for some time, ideas like the Dynabook or General Magic’s pocket computer. These ideas cannot take form until the right ingredients are present. Before reaching that point, before you can grasp the future, the iPhone cannot be created.
        <p>As Tom finishes up, I can’t help but wonder what is in the adjacent possible of right now. What will we look back on in a few years time that will seem obvious then but impossible to imagine today?

          <hr/>

        <p>I’m sitting at a large, oval-shaped table in a room that looks like a cross between a Munich beer-house and Count Dracula’s dining hall. There are about 80 of the event attendees in the room with me, eight of whom are seated around my table.</p>
        <p>There’s a quote that’s often attributed to Picasso, where he supposedly said: ‘When art critics get together they talk about style, trend, and meaning. When painters get together, they talk about where you can get the best turpentine.’</p>
        <p>We are deep in a discussion about the software engineering equivalent of turpentine planning: which framework should you use on a fresh SaaS Web App? I’m explaining that I used to be a Ruby on Rails fanatic but had adopted a new React framework for my new startup. The guest sitting to my left perks up when he hears the name.</p>
        <p>“Nice! You’re using [cool new framework]?”, he asks, grinning. I nod.</p>
        <p>“Yep, it’s been pretty good but I’ve had a bit of trouble getting used to the new update….”</p>
        <p>I explain a few of the issues I’m having. His grin fades just a little. When I finish, I notice the hat he’s wearing. It’s adorned with the logo of the company behind the framework.</p>
        <p>“Oh, sorry,” I say, a little embarrassed. “You work at [the company behind the framework]?”</p>
        <p>“Em, yes.” He says, a little awkwardly. “I’m actually the CTO…”</p>
        <p>I can feel my face going a little red. “It’s been great actually. Even with a couple of bugs, it’s so much better than anything else….” I say this a little too quickly.</p>
        <p>“We’re figuring it out…” he says with a wry smile. “But great to have you on board.”</p>
        <p>This is something that I will experience a handful of times over the coming days. Someone friendly and unassuming will humbly mention something very impressive about themselves. They were actually the first engineer at GitHub or they took their company public last year. No one bats an eye and the conversation continues. It takes a little while to get used to it.</p>
        <p>When we finish our meal, the group conversation continues. We talk about the advances in generative AI. We talk about our favourite fiction books. We talk about when we first became interested in technology. We talk about anything really.</p>
        <p>When I finally start to stroll back to my section of the hotel, it’s nearly 1AM. I’m walking along the small main road in the village when the street lamps shut off in unison. This must be a Swiss thing. I’m completely blind and collide with a bollard. Ouch. I fumble in my pocket to take out my phone, but before I do, I notice the stunning view overhead.</p>
        <p>I’ve never seen so many stars before.</p>


        <hr/>

        <p>I slept in the next morning and had to wolf down my breakfast to make it back to the event hall in time for the next round of speakers. Each of the speakers on day 2 had been chosen by those from the day before. This twist meant that there were interesting connections between the 2 sets of talks.</p>
        <p>I’m close to the front set of seats when Linda Kamau begins her talk. It is an exploration of her experiences that led to the creation of AkiraChix, the organisation she founded with the mission to ensure ‘young women across East Africa have the tools, education, and support to not only have a prosperous career in technology but also live fulfilling lives.’</p>
        <p>Linda's talk is equal parts eye-opening and inspiring. She describes in detail all of the ways in which the community she supports lacks access to resources they need to improve their circumstances, and the dramatic increase in income and opportunities afforded to those who are given this much-needed access.</p>
        <p>I’m struck by the thought that Linda is single-handedly expanding the realm of the adjacent possible for these young women, and by extension, the whole world. The ripple effects created by the actions of one person can be profound.</p>
        <p>A few more talks like this later, and we return to the hotel for the afternoon's activities…</p>

        <p>I step into a small wood-panelled room off of the main hotel corridor. Inside there are a number of hardwood tables, and a laptop is set up in one corner with lines of code streaming down the monitor.</p>
        <p>“Would you like to try it out?” I’m asked. I still don’t know what It is. This room had the most opaque label of all of the installation spaces. On the map we were given, it is listed as simply The Thing.</p>
        <p>After the talks finished earlier this morning, we were told what to expect for the afternoon. Around 10 spaces on the ground floor of the hotel had been commandeered as a mixture of interactive art installations, puzzle rooms, educational sessions, and general activities. Most had at least some description of what was in store for anyone who visited.</p>
        <p>The Thing was a mysterious exception.</p>
        <p>“Sure, I’ll give it a go…”</p>
        <p>I’m handed a retro-looking mobile phone.</p>
        <p>“Press the call button when you’re ready”</p>
        <p>I look at the phone one more time before pressing the green button and holding it up to my ear. There’s a brief dial tone before an eerily realistic artificial voice answers.</p>
        <p>“Hello, this is an AI speaking. You can ask me anything about the event or any of the talks that have taken place…”</p>
        <p>I have a full conversation with this almost-real voice about the event so far. I ask it specific questions and it answers accurately. This very much feels like the Next Thing.</p>
        <p>And for context, this was in June of 2023, when this kind of demo felt mystical. It already feels a little more normal in October, and I’m sure if you’re reading this in the future, it will feel commonplace. </p><p>That’s usually what happens with the Next Thing. It quickly becomes the Current Thing. And then the Last Thing.</p>
        <p>It was in the adjacent possible, but now it’s just in the realm of the expected possible, or un-surprising possible, or just - the possible.</p>

        <hr/>

        <p>A few hours after my run-in with the disembodied voice on the other end of the telephone, I’m rushing back to the main lobby. I lost track of time in my hotel room frantically googling some of the things that I’d seen or heard while exploring the installation spaces, and now I’m running late for yet another surprise event.</p>
        <p>I arrive just in time to see a mysterious character begin his comedy set, much to the delight of the crowd packed into the room. He may or may not resemble one of the guests attending the conference, but this alter-ego persona is nothing like the guest in question. The crowd laughs at his punchlines, cheers at his impressions. We boo at some of the more dad-like jokes. When he finishes his last gag, we clap until our hands are sore.</p>
        <p>The energy is electric as Eamon thanks the comedian and directs us towards the final surprise of the weekend - the venue for the gala dinner. One room in the hotel had been off-limits for the week, and we are now ushered in for the first time.</p>
        <p>It is the grand banquet hall of the historic hotel, and it is the most ornate room I’ve ever seen. It would not be out of place in a Viennese palace. About 15 large round tables with white tablecloths sit underneath a host of glistening chandeliers. A balcony overlooks the room - I’m told it was originally built for opera singers. I take my seat next to Surabhi, and she introduces me to her new friend Chandhana.
        </p>
        <p>Chandhana is another member of the scholarship crew. When the organising team reached out to the community in the run-up to the event looking for exceptional young people, Chandhana’s name was put forward. She is very humble, and it takes a while before I learn that she’s been offered a scholarship to a prestigious college in the US. This was awarded to her based on research she completed while still in secondary school in India. When I was in secondary school, my proudest achievement was passing my Driver’s Test on the first go. I feel a little out of my depth here.</p>
        <p>Each course is served in an elaborate fashion; a host of servers surrounds our table, and when a signal is given, they place our plates on the tablecloth in perfect unison. We play a game to try and guess which of the servers is the one deciding the moment to place the plates. The signal seems to be shared telepathically.</p>
        <p>Chandhana doesn’t really touch her food. She says that she is not hungry. I’m almost tempted to steal her uneaten meal but decide that this isn’t quite the venue to be scraping seconds off of someone else’s plate. The conversation at the table meanders between topics, from highlights of the week to our favourite sci-fi books. The teenagers give me a never-ending series of recommendations for books that I just have to read. Most of them are pretty far from my usual Dan Brown-style beach reads, but I say nothing.</p>
        <p>After the dinner plates are cleared away, we continue our conversations over dessert (which is served in the same synchronised fashion). I’m halfway through the chocolate cake when a hush descends on the room.</p>
        <p>One of the attendees is up in the opera booth. A few taps of the microphone later, and his voice is amplified through the room.</p>
        <p>“Good evening everyone…”</p>
        <p>Derek talks about his connection to the group, about how he has attended many of the events that Eamon and Paul have put on over the years, and about how strong this community of optimistic builders is.
        He also highlights how insular it can be as well, and how we all need to do more to connect with people who do not always have access to these kinds of conferences, and by extension, the support of this kind of a community.</p>
        <p>“Which leads me to introduce someone amazing…”</p>
        <p>When Eamon and Paul asked the attendees for recommendations for applicants to the scholarship program, he knew exactly who to suggest. Someone he had met while visiting India the previous year. He had posted on Twitter that he was in town and that he wanted to meet ambitious young people, and she reached out.</p>
        <p>“I thought she was fantastic, and I know you will too…”</p>
        <p>He takes a step off the balcony and hands the microphone to Chandhana, who is waiting in the wings behind him. The crowd welcomes her with a warm applause.
        Chandhana seems a little nervous at first, but very quickly, she charms the room and radiates confidence. I think to myself how nervous I would be up there. And I’m 28.
        Chandhana has just finished her last year of high school.</p>
        <p>She starts off with her own story, and how she first started to explore the world of science and technology. She describes material science experiments she worked on in a shed in her parents’ home. She tells us about how she developed her own personal philosophy, one that emphasises personal agency above all else. She realised that she could do science herself, solve problems herself; there was nothing stopping her.</p>
        <p>And there are so many problems she can see around her - from loneliness in modern society to the damage we’re doing to the environment around us. She challenges us all to take agency and be part of the solution.</p>
        <p>Her speech is an answer to the question Tom asked at the start of the conference:</p>
        <p>How is the adjacent possible uncovered?</p>
        <p>Chandhana’s answer is simple, and profound.</p>
        <p>It’s uncovered by people, like you and me.</p>

        <hr/>

        <p>It's a few weeks after the conference. I’m on a Zoom with Surabhi and Fatma. They’re filling me in on how they met Eamon and how they ended up hanging out in the Swiss Alps for a few days in June. Our scheduled time is nearly up but I have one final question for them.</p>
        <p>“Is there anything that you took home from this experience? Has anything changed for you after This Next Thing?”</p>
        <p>They both pause for a second. After a few moments, Fatma responds:</p>
        <p>“I felt an urge to do more, or to start on something new. You meet all these inspiring people who have accomplished so much and we were walking on things but I thought, maybe we're walking at a slow pace.
        When we were in the airport on the way home, we were already planning our next steps on what we're doing with our startup and the new things that we're starting because I just had this urge to start and to do so much more…”</p>


      
    </div>
  </WrapperWithNav>
</Layout>
