---
import Layout from '../../layouts/2024.astro';
import WrapperWithNav from '../../layouts/2024/WrapperWithNav.astro';
import { Image } from 'astro:assets';

import ThisNextThing from "../../images/2024/this-next-thing.svg"
import mountains from "../images/2024/mountains.webp"
return Astro.redirect('https://2024.thisnextthing.com/support');
---
<Layout title="About">
  <WrapperWithNav>
    <div>
        <Image src={ThisNextThing} alt="This Next Thing" />
        Creative minds. Meaningful relationships. Magical experiences.
        <h4 class="font-bold">16th to 20th June 2024</h4>
    </div>     
    <h2>Ways to support us</h2>

    <h3>Become a patron</h3>
    <p>A patronage is a pure financial sponsorship, in exchange for brand recognition. This is akin to a traditional conference sponsorship and can have multiple levels. We recognise individuals and companies at this level.</p>
    
    <h3>Sponsor an experience</h3>
    <p>
      This is a sponsorship of a specific experience. We work closely with a company or individual to create an experience that is an integral part of the event’s programming, with the sponsor covering the costs of creating and staffing the experience.
    </p>
    <p>This could be a workshop, an immersive experience, a food and/or drink experience, or a guided meditation. Your imagination is the only limit!</p>

    <h3>Organisation Committee Member</h3>
    <p>This is giving a time commitment to produce some part of the event or events experience. The individual will be recognised as a committee member and be tasked specifically with organising some part of the event.</p>

    <h3>Experience volunteers</h3>
    <p>These are folks who aren’t necessarily on the committee, but wish to volunteer to curate or provide another experience for folks. They would typically be expected to pay their own way, but would be recognised for their work and we would offer a budget.</p>

    <h3>Something else?</h3>
    <p>Do you want to help out but don’t see it captured above? Or do you see a creative way to combine any of the aforementioned options? We’d love to chat with you about it – <a href="/2024/contact">just reach out</a>!</p>
  </WrapperWithNav>
</Layout>