---
import Layout from '../../layouts/2024.astro';
import WrapperWithNav from '../../layouts/2024/WrapperWithNav.astro';
import { Image } from 'astro:assets';

import ThisNextThing from "../images/2024/this-next-thing.svg"
import mountains from "../images/2024/mountains.webp"
---
<Layout title="About">
  <WrapperWithNav>
    <h2>Ways to support us</h2>

    
    <h3>Become a patron</h3>
    <p>A patronage is a pure financial sponsorship, in exchange for brand recognition. This is akin to traditional conference sponsorship and can have multiple levels. We recognise individuals and companies at this level.</p>
    
    <h3>Sponsor an experience</h3>
    <p>This is a sponsorship of a specific experience. We work closely with a company or individual to create an experience as part of the conference and they cover the costs of creating and staffing the experience.</p>
    <p>This could be a food and/or drink experience, an immersive VR experience, or a guided meditation. Your imagination is the only limit!</p>

    <h3>Organisation Committee Member</h3>
    <p>This is giving a time commitment to produce some part of the event or events experience. The individual will be recognised as a committee member and be tasked specifically with organising some part of the event.</p>

    <h3>Experience volunteers</h3>
    <p>These are folks who aren’t necessarily on the committee, but wish to volunteer to curate or provide another experience for folks. They would typically be expected to pay their own way, but would be recognised for their work and we would offer a budget.</p>
  </WrapperWithNav>
</Layout>