---
import Layout from '../../layouts/2024.astro';
import Testimonial from '../../components/2024/Testimonial.astro';
import WrapperWithNav from '../../layouts/2024/WrapperWithNav.astro';
import { Image } from 'astro:assets';

import ThisNextThing from "../images/2024/this-next-thing.svg"
import mountains from "../images/2024/mountains.webp"
---
<Layout title="Testimonials">
  <WrapperWithNav>
    <h2>Testimonials</h2>

    <Testimonial person="Attendee 2023">
      There’s no other scenario I see where that density of people I like and who mean something to me, I'd encounter in a single space. Experientially: it’s unparalleled, I probably would have never taken an open-top train through the Alps had it not been for TNT.
    </Testimonial>

    <Testimonial person="Attendee 2023">
      The amazing people and openness of the environment, building up relationships over days coming and going and the just organic-ness of it all just doesn't really happen [like this] after school age
    </Testimonial>

    <Testimonial person="Danish Khan">
      I had great conversations with new and old friends.
    </Testimonial>

    <Testimonial person="Cole Wright">
      Opportunity of a life time.
    </Testimonial>

    <Testimonial person="PJ Hagerty">
      An amazing meeting of minds.
    </Testimonial>

    <Testimonial person="Conor McDermottroe">
      It was all of the best parts of conferences but without the mediocre talks. 
    </Testimonial>

    <Testimonial person="Dylan Schiemann">
      Overall just a great experience all around. The format, care, and detail were exceptional. The venue was stunning. The people were wonderful.
    </Testimonial>

    <Testimonial person="Fatma Dogan">
      Yes it was one of the best experiences of my life.  It was my first time attending a conference and I don't think anything can beat this one up.
    </Testimonial>
  </WrapperWithNav>
</Layout>