---
import NavLink from "../../components/NavLink.astro"
import { getImage } from "astro:assets"
import bg from "../../images/2024/paper-bg.jpg"
const optimizedBackgroundImage = await getImage({ src: bg })
import { Icon } from 'astro-icon'
---

<div class="md:-rotate-1 flex wrapper-with-nav">
  <div>
    <button id="menu" class="md:hidden fixed right-4 top-4 h-8 w-8" title="Open menu">
      <Icon pack="mdi" name="hamburger-menu" />
    </button>
    <nav id="nav" class="fixed top-4 left-4 hidden md:static md:block">
      <NavLink href="/2024">Home</NavLink>
      <NavLink href="/2024/about">About</a>
      <NavLink href="/2024/testimonials">Testimonials</a>
      <NavLink href="/2024/team">Team</a>
      <NavLink href="/2024/questions">Questions</a>
      <NavLink href="/2024/book">Buy tickets</a>
      <NavLink href="/2024/support">Support us!</a>
      <NavLink href="/2024/contact">Contact</a>

      <br><br>
      <a class="text-xs" href="/2023">2023 website</a>
    </nav>
  </div>
  <div class="bg-cover bg-white md:rounded shadow-xl w-full md:mx-auto max-w-7xl px-4 sm:px-6 lg:px-8 lg:py-6" style={`background-image: url('${optimizedBackgroundImage.src}')`}>

  <!-- We've used 3xl here, but feel free to try other max-widths based on your needs -->
  <div class="md:mx-auto max-w-3xl py-4 w-full md:w-[32rem] space-y-4">
    <slot />
  </div>
</div>

<style>
  nav { @apply mt-4 rounded md:rounded-r-none bg-white overflow-hidden }
  nav a { @apply block p-2 hover:bg-gray-200 }
  nav a.current { @apply bg-gray-100 }
</style>

<style is:global>
  .wrapper-with-nav a { @apply font-medium hover:underline }
  .wrapper-with-nav h2 { font-size: 2rem;  }
  .wrapper-with-nav h3 { font-size: 1.5rem; margin-bottom: 0  }
</style>

<script>
  const button = document.getElementById("menu")
  button.addEventListener('click', () => {
    const nav = document.getElementById("nav")
    if(nav.classList.contains("hidden"))
    {
      nav.classList.remove("hidden")
    }
    else
    {
      nav.classList.add("hidden")
    }
    
  });
</script>