---
import Layout from '../layouts/2024.astro';
import WrapperWithNav from '../layouts/2024/WrapperWithNav.astro';
import { Image } from 'astro:assets';

import ThisNextThing from "../images/2024/this-next-thing.svg"
import mountains from "../images/2024/mountains.webp"
---
<Layout title="This Next Thing">
	<Image src={mountains} alt="" class="md:hidden"/>
	<WrapperWithNav>
		<div class="space-y-8">
			<div>
				<Image src={ThisNextThing} alt="This Next Thing" />
				Creative minds. Meaningful relationships. Magical experiences.
			</div>

			<div>
				<em>From the desks of <a href="https://www.linkedin.com/in/abigailphoenix/">Abby</a>, <a href="https://www.linkedin.com/in/eamonleonard/">Eamo</a>, & <a href="https://www.linkedin.com/in/paulcampbell-tito/">Paul</a></em><br>
				<strong>Dublin, Ireland</strong> &middot; <strong>Los Angeles, USA</strong>
			</div>

			<div class="space-y-4 prose">
				<p>
					We’re back!
				</p>

				<p>
					Following a long summer and much deliberation, This Next Thing will be back in-person next year. We loved Pontresina so much that we will reprise in the Grand Hotel Kronenhof, June 17–19, 2024.
				</p>

				<p>
					Next year, we plan to level up on the foundation our first event set in 2023. Right now, you can
					<a href="/2024/book"><strong class="font-medium underline">secure a discounted early-access ticket</strong></a> to guarantee a room in the Kronenhof. Additional capacity will again be available in the nearby Hotel Saratz.
				</p>

				<p>
					We’re excited to see you again next year, and can’t wait to share some of our new ideas. If you have questions, <a href="mailto:info@thisnextthing.com">let us know</a>.
				</p>

				<p>
					—Abby, Eamo, & Paul
				</p>

				<p>
					<strong>P. S.</strong>
					See <a href="/2023">our 2023 website</a> to read more about the spirit of the event.
				</p>
			</div>
		</div>
	</WrapperWithNav>
</Layout>