---
import Layout from '../layouts/2024.astro';
import { Image } from 'astro:assets';

import ThisNextThing from "../images/2024/this-next-thing.svg"
import mountains from "../images/2024/mountains.webp"

import { getImage } from "astro:assets"
import bg from "../images/2024/paper-bg.jpg"
const optimizedBackgroundImage = await getImage({ src: bg })
---
<Layout title="This Next Thing">
	<Image src={mountains} alt="" class="md:hidden"/>
	<div class="bg-cover bg-white md:rounded shadow-xl md:-rotate-1 mx-auto max-w-7xl px-4 sm:px-6 lg:px-8 lg:py-6" style={`background-image: url('${optimizedBackgroundImage.src}')`}>

	<!-- We've used 3xl here, but feel free to try other max-widths based on your needs -->
	<div class="mx-auto max-w-3xl py-4 flex flex-col gap-8">
		<div>
			<Image src={ThisNextThing} alt="This Next Thing" />
			Inclusive community. Creative people. Magical experiences.
		</div>

		<div>
			<em>From the desks of <a href="https://www.linkedin.com/in/abigailphoenix/">Abby</a>, <a href="https://www.linkedin.com/in/eamonleonard/">Eamo</a>, & <a href="https://www.linkedin.com/in/paulcampbell-tito/">Paul</a></em><br>
			<strong>Dublin, Ireland</strong> &middot; <strong>Los Angeles, USA</strong>
		</div>

		<div class="space-y-4 prose">

			<p>
				We’re back!
			</p>

			<p>
				Following a long summer and much deliberation, This Next Thing will be back in-person next year. We loved Pontresina so much that we will reprise in the Grand Hotel Kronenhof, June 17–19, 2024.
			</p>

			<p>
				Next year, we plan to level up on the foundation our first event set in 2023. Right now, you can
				<tito-button releases="early-access-2024,optional-scholarship-fund-donation" discount-code="EARLY" event="this-next-thing/2024"><strong class="font-medium underline">secure a discounted early-access ticket</strong></tito-button> to guarantee a room in the Kronenhof. Additional capacity will again be available in the nearby Hotel Saratz.
			</p>

			<p>
				We’re excited to see you again next year, and can’t wait to share some of our new ideas. If you have questions, <a href="mailto:info@thisnextthing.com">let us know</a>.
			</p>

			<p>
				—Abby, Eamo, & Paul
			</p>

			<p>
				<strong>P. S.</strong>
				See <a href="/2023">our 2023 website</a> to read more about the spirit of the event.
			</p>
		</div>
	</div>
</div>
</Layout>

<style>
	p { @apply mb-4 }
	h1 { @apply font-bold text-[3rem] }
	h2 { @apply font-bold text-[1.5rem] mb-2 }
	h3 { @apply font-medium text-[1.2rem]	}
	h4 { font-weight: bold }

	aside { @apply w-full md:w-[26rem] border-b md:border-b-0 md:border-r border-white p-8 }
</style>