---
import Layout from '../layouts/2024.astro';

import WrapperWithNav from '../layouts/2024/WrapperWithNav.astro';
import { Image } from 'astro:assets';

import ThisNextThing from "../images/2024/this-next-thing.svg"
import mountains from "../images/2024/mountains.webp"
---
<Layout title="This Next Thing">
	<Image src={mountains} alt="" class="md:hidden"/>
	<WrapperWithNav>
		<div class="space-y-8">
			<div>
				<Image src={ThisNextThing} alt="This Next Thing" />
				Creative minds. Meaningful relationships. Magical experiences.
				<h4 class="font-bold">16th to 20th June 2024</h4>
			</div>

			<div class="space-y-4 prose">
				<p>
					This Next Thing is a shared group experience in the Swiss Alps. It is designed to be a safe, inclusive community of folks who want to make a positive impact in the world. If you value innovation and creativity, and recognise the potential for technology as a force for good, then this is an event for you.
				</p>
			</div>


			<div class="flex overflow-hidden md:-m-8">
				<img class="object-cover" width="33%" src="https://images.vi.to/viflfKETkbJdAEGJwFaiVPuqhTOvvh_LDfU5BDsn3ak/rs:fit:1200:1200/aHR0cHM6Ly91cGxv/YWRzLWNkbi52aS50/by9kYTczNWRlYzM2/N2Q0YmI4ZmE2M2Mz/ZTIwNDUwNjk0Yi5q/cGc.jpg">
				<img class="object-cover" width="33%" src="https://images.vi.to/AtcqOoI-JLdFEbz_pNtU4pP2iABwNCNafqjovf3X6MI/rs:fit:1200:1200/aHR0cHM6Ly91cGxv/YWRzLWNkbi52aS50/by80Y2NhMjJhNWM4/NjhhMzY5ZGM3MzA3/YjczODEyNzgzYi5q/cGc.jpg">
				<img class="object-cover" width="33%" src="https://images.vi.to/HTYr1FfXYtDvYJ_FZSPYhHqPS6bhFPBTd7OFl8GCVEc/rs:fit:1200:1200/aHR0cHM6Ly91cGxv/YWRzLWNkbi52aS50/by9hZmQyZTJmNGQ5/ZDBlNjZlODg1NmJk/N2E2NzY0NWYwNS5q/cGc.jpg">
			</div>

			<div class="space-y-4 prose">
				<p>
					The event happens in three parts, starting in three different places. Guests choose where they want to start, and then get to know each other in a smaller group, before travelling together into the mountains.
				</p>

				<p>
					Part two is learning, sharing and interacting, across three types of experiences. We provide opportunities to attend talks by folks who present themes and stories. Workshops and classes provide out-of-the-ordinary ways to mingle and interact. And always, always there is space to discuss: informally, facilitated, around game-boards or around a table sharing food and drink experiences.
				</p>
			</div>


			<div class="flex overflow-hidden md:-m-8">
				<img class="object-cover" width="33%" src="https://images.vi.to/NvjcPQufO96mkuV3PoOAZ8_8danBAgGqZqUGzyvXbVo/rs:fit:1200:1200/aHR0cHM6Ly91cGxv/YWRzLWNkbi52aS50/by9mOWFhMDc4MmY0/Zjc3OWQwNTA1MTVi/YzZhOGY4OTg4Yy5q/cGc.jpg">
				<img class="object-cover" width="33%" src="https://images.vi.to/ZSlFdi3yOarkBn8ui2h4Fl9ZbjPd7Nte_A7IlU7t5sc/rs:fit:1200:1200/aHR0cHM6Ly91cGxv/YWRzLWNkbi52aS50/by9kZTFjYTBhZTNj/YTkzZmYyMWRiMmFk/MDAyNTMxZGU0Yy5q/cGc.jpg">
				<img class="object-cover" width="33%" src="https://images.vi.to/it0zkBgKULGgTSXKywF60cbtbI6sEF8xbQL-46b62Gk/rs:fit:1200:1200/aHR0cHM6Ly91cGxv/YWRzLWNkbi52aS50/by82MmVmZGI2YTNk/YzE2MzMwNDI1Y2Ri/MzE2MTMzZmU4MC5q/cGc.jpg">
			</div>

			<div class="space-y-4 prose">
				<p>
					Part three—optional—is winding down. Folks who choose to stick around continue the conversations, but without any ceremony: enjoying the mountains, hiking, taking in the spa and the surroundings, and beginning the long goodbye to many new friends.
				</p>
			</div>

			<div class="space-y-4 prose">
				<p>
					Next year, we plan to level up on the foundation our first event set in 2023. Right now, you can
					<a href="/2024/book"><strong class="font-medium underline">secure a discounted early-access ticket</strong></a> to guarantee a room in the Kronenhof. Additional capacity will again be available in the nearby Hotel Saratz.
				</p>

				<p>
					We’re excited to see you again next year, and can’t wait to share some of our new ideas. If you have questions, <a href="/2024/contact">let us know</a>.
				</p>

				<p>
					—Abby, Eamo, & Paul
				</p>

				<p>
					<strong>P. S.</strong>
					See <a href="/2023">our 2023 website</a> to read more about the spirit of the event.
				</p>
			</div>
		</div>
	</WrapperWithNav>
</Layout>