---
import Layout from '../layouts/2024.astro';
import { Image } from 'astro:assets';

import ThisNextThing from "../images/2024/this-next-thing.svg"
import mountains from "../images/2024/mountains.webp"
---
<Layout title="This Next Thing">
	<Image src={mountains} alt="" />
	<div class="letter bg-cover bg-white md:rounded shadow-xl md:-rotate-1 mx-auto max-w-7xl px-4 sm:px-6 lg:px-8 lg:py-6">

	<!-- We've used 3xl here, but feel free to try other max-widths based on your needs -->
	<div class="mx-auto max-w-3xl py-4 flex flex-col gap-8">
		<div>
			<Image src={ThisNextThing} alt="This Next Thing" />
			A community of folks who love creativity and value great experiences in tech and beyond.
		</div>

		<div>
			<em>From the desk of <a href="https://www.linkedin.com/in/abigailphoenix/">Abby</a>, <a href="https://www.linkedin.com/in/eamonleonard/">Eamo</a> & <a href="https://www.linkedin.com/in/paulcampbell-tito/">Paul</a></em><br>
			<strong>Dublin, Ireland</strong>
		</div>

		<div class="space-y-4 prose">

			<p>
				We’re back!
			</p>

			<p>
				Following a long summer and much deliberation, This Next Thing—the in-person conference—will be back in 2024. We loved Pontresina so much that we will reprise the Grand Hotel Kronenhof next June 17–20.
			</p>

			<p>
				The goal of next year is to iterate on what worked and to improve where we can. Right now, you can secure an early-access ticket to guarantee a room in the Kronenhof (additional capacity will again be available in Saratz next door). You can also peruse ways to help.
			</p>

			<p>
				We’re excited to see you again next year, and can’t wait to share some of our new ideas.
			</p>

			<p>
				—Abby, Eamo & Paul
			</p>

			<p>
				<strong>P. S.</strong>
				If you want to know more about the spirit of the event, see <a href="/2023">our 2023 website</a>.
			</p>
		</div>
	</div>
</div>
</Layout>

<style>
	p { @apply mb-4 }
	h1 { @apply font-bold text-[3rem] }
	h2 { @apply font-bold text-[1.5rem] mb-2 }
	h3 { @apply font-medium text-[1.2rem]	}
	h4 { font-weight: bold }

	aside { @apply w-full md:w-[26rem] border-b md:border-b-0 md:border-r border-white p-8 }
</style>

<style is:global>
  .letter {
    background: url(/src/images/2024/paper-bg.jpg);
  }
</style>