---
import Layout from '../layouts/Layout.astro';
import Logo from "../images/tnt-logo.svg"

import Paul from "../images/paul.jpg"
import Eamo from "../images/eamo.jpg"

import KronenhofCropped from "../images/kronenhof-cropped.jpg"

import TickTockSection from "../components/TickTockSection.vue"
import SectionContent from "../components/SectionContent.vue"
import SectionHeader from "../components/SectionHeader.vue"
import SectionSubheader from "../components/SectionSubheader.vue"
---
<Layout title="This Next Thing">
	<div class="md:flex justify-center leading-0">
		<main>
			<div class="pb-16 flex flex-col gap-2 items-center justify-center">
				<img src={Logo} alt="This Next Thing" class="md:w-[30rem]"/>
				<h1 class="text-center font-medium md:font-light text-[1.2rem] md:text-[3rem] uppercase">A journey for the curious mind</h1>

				<p class="text-xl font-light md:font-normal text-center">
					Switzerland, June 25–28, 2023
					<br>
					<span class="text-[1rem] md:text-md font-light">A spiritual successor to Funconf</span>
				</p>
			</div>

			<a class="block" href="/2023">
				<TickTockSection id="who" type="tock" class="hover:scale-105 shadow-lg">
					<img src={KronenhofCropped}/>
					<SectionContent>
						<SectionHeader>Limited sponsorships and scholarships available.</SectionHeader>
						<p>
							Continue onward for conference details, and join our list for updates.
						</p>
					</SectionContent>
				</TickTockSection>
			</a>
		</main>
	</div>
</Layout>

<style>
	p { @apply mb-4 }
	h1 { @apply font-bold text-[3rem] }
	h2 { @apply font-bold text-[1.5rem] mb-2 }
	h3 { @apply font-medium text-[1.2rem]  }
	h4 { font-weight: bold }

	aside { @apply w-full md:w-[26rem] border-b md:border-b-0 md:border-r border-white p-8 }
</style>