---
import Layout from '../layouts/Layout.astro';
import Logo from "../images/tnt-logo.svg"

import Paul from "../images/paul.jpg"
import Eamo from "../images/eamo.jpg"
---
<Layout title="This Next Thing">
	<div class="md:flex justify-center leading-0">
		<aside>
			<img src={Logo} alt="This Next Thing"/>
		</aside>

		<main class="md:my-16">
			<section id="what" class="tick">
				<h2>What?</h2>
				<p>
					This Next Thing is a journey for curious minds and lovers of creativity. We will venture into the Swiss Alps for 2 days in June 2023.
				</p>

				<p>
					<a class="font-bold" href="https://en.wikipedia.org/wiki/Thing_(assembly)#Norway" target="_new">“Thing”</a> in its original sense was the gathering of people for lawmaking, socialising and trade. This Next Thing will gather interesting and interested people, celebrating our relationships with the world, and looking forward to what that relationship should be.
				</p>
			</section>

			<section id="who" class="tock pb-8 md:pb-16">
				<h2>Who?</h2>
				<div class="flex items-center justify-center gap-4">
					<div class="flex">
						<div class="flex flex-col gap-4 items-center justify-center">
							<img src={Eamo} class="rounded-full w-64" />
							<strong>Eamon Leonard</strong>
						</div>

						<p>
							Eamon Leonard is the founder of Broadstone VC.
						</p>
					</div>

					<div class="flex">
						<div class="flex flex-col gap-4 items-center justify-center">
							<img src={Paul} class="rounded-full w-64" />
							<strong>Paul Campbell</strong>
						</div>

						<p>
							Paul is the co-founder and CEO of Team Tito.
						</p>
					</div>
				</div>
			</section>

			<section id="when" class="tick">
				<h2>When?</h2>
				<p>June 25–28, 2023</p>

				<h3>June 25</h3>
				<p>Start in Innsbruck, Milan or Zürich</p>
			</section>

			<section id="where" class="tock">
				<h2>Where?</h2>

				<h3>June 25</h3>
				<p>The unconference will take place in the centre of each starter city.</p>

				<h3>June 26–28</h3>
				<p>The conference itself will take place in Pontresina, in the Eastern Swiss Alps.</p>
			</section>

			<section id="why" class="tick">
				<h2>Why?</h2>
				<p>Because</p>
			</section>

			<section class="p-4 flex items-center justify-center">
				<a href="#" class="bg-royal-blue text-white hover:bg-warm-blue active:bg-warm-blue p-4 uppercase font-bold">Get your tickets</a>
			</section>
		</main>


	</div>
</Layout>

<style>
	p { @apply mb-8 }
	h2 { @apply font-bold text-[1.5rem]  }
	h3 { @apply font-medium text-[1.2rem]  }
	h4 { font-weight: bold }

	aside { @apply w-full md:w-[26rem] border-b md:border-b-0 md:border-r border-white p-8 }
	section { @apply p-4 md:p-8; max-width: 80ch }

	section.tick, section.tock { @apply -mt-4 md:-mt-8  }

	.tick { 
		@apply bg-light-blue ml-4 md:ml-8 text-royal-blue;
	 }

	.tock { 
		@apply bg-royal-blue mr-4 md:mr-8 text-white;
	 }

	.tock h2, .tock strong {
		@apply text-light-blue
	}
</style>