---
import Layout from '../layouts/Layout.astro';
import Logo from "../images/tnt-logo.svg"

import Paul from "../images/paul.jpg"
import Eamo from "../images/eamo.jpg"
---
<Layout title="This Next Thing">
	<div class="md:flex justify-center leading-0">
		<main class="md:my-32">
			<div class="pb-16 flex flex-col gap-2 items-center justify-center text-royal-blue">
				<img src={Logo} alt="This Next Thing"/>
				<h1 class="text-center">A journey for the curious mind</h1>
				<p class="text-lg">Switzerland, June 25–28, 2023</p>
			</div>
		</main>
	</div>
</Layout>

<style>
	p { @apply mb-8 }
	h1 { @apply font-bold text-[3rem] }
	h2 { @apply font-bold text-[1.5rem] mb-2 }
	h3 { @apply font-medium text-[1.2rem]  }
	h4 { font-weight: bold }

	aside { @apply w-full md:w-[26rem] border-b md:border-b-0 md:border-r border-white p-8 }
	section { @apply p-4 md:p-8; max-width: 80ch }

	section.tick, section.tock { @apply -mt-4 md:-mt-8  }

	.tick { 
		@apply bg-light-blue ml-4 md:ml-8 text-royal-blue;
	 }

	.tock { 
		@apply bg-royal-blue mr-4 md:mr-8 text-white;
	 }

	.tock h2, .tock strong {
		@apply text-light-blue
	}
</style>