---
import Layout from '../layouts/Layout.astro';
import { Image } from 'astro:assets';

import ThisNextThing from "../images/2024/this-next-thing.svg"
---
<Layout title="This Next Thing">
	<div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8 flex h-full">
		<!-- We've used 3xl here, but feel free to try other max-widths based on your needs -->
		<div class="mx-auto max-w-3xl py-4 flex items-center justify-center h-full">
			<div class="flex flex-col gap-8">
				<a href="2024" class="p-4 hover:bg-gray-200 rounded">
					<Image src={ThisNextThing} alt="This Next Thing" />
					It’s happening again&hellip;
				</a>
				<a href="/2023" class="text-sm p-4 hover:text-blue-500">
					View 2023 site
				</a>
			</div>
		</div>
	</div>
</Layout>

<style>
	p { @apply mb-4 }
	h1 { @apply font-bold text-[3rem] }
	h2 { @apply font-bold text-[1.5rem] mb-2 }
	h3 { @apply font-medium text-[1.2rem]  }
	h4 { font-weight: bold }

	aside { @apply w-full md:w-[26rem] border-b md:border-b-0 md:border-r border-white p-8 }
</style>