---
import Layout from '../../layouts/2023.astro';
import TickTockSection from "../../components/TickTockSection.vue"
import SectionContent from "../../components/SectionContent.vue"
import SectionHeader from "../../components/SectionHeader.vue"
import SectionSubheader from "../../components/SectionSubheader.vue"
---
<Layout title="This Next Thing 2023 - Code of Conduct">
  <TickTockSection id="what" type="tick">
    <SectionContent>
      <SectionHeader>Code of Conduct</SectionHeader>

      <SectionSubheader>In summary</SectionSubheader>
      <p>
        Our code of conduct is to ensure that throughout the event we provide a safe, welcoming space for everyone.
      </p>

      <p>
        Since the event takes place across multiple cities and in a hotel with lots of public spaces, we ask that folks act in ways that align with this code of conduct.
      </p>

      <SectionSubheader>Self-care</SectionSubheader>
      <p>
        We also encourage the use of the whole facility. During the evenings, there will be provision of alternate spaces for those who prefer quiet chats or no alcohol. In addition, accommodation is on-site and never more than a few minutes walk from any of the scheduled activities.
      </p>

      <SectionSubheader>Anti-harrassment</SectionSubheader>
      <p>
        In short, the emphasis is on providing a safe harassment-free conference experience for everyone.
      </p>

      <p>
        Harassment includes offensive verbal comments related to gender, gender identity and expression, age, sexual orientation, disability, physical appearance, body size, race, ethnicity, religion, technology choices, sexual images in public spaces, deliberate intimidation, stalking, following, harassing photography or recording, sustained disruption of talks or other events, inappropriate physical contact, and unwelcome sexual attention.
      </p>

      <SectionSubheader>Check your privilege</SectionSubheader>
      <p>
        We also ask participants to display dignity and courtesy throughout the course of the four days in their interactions with non-participants, service-people, transportation staff, hotel staff, and each other. We are exhibiting great privilege to be able to gather in such a unique space, and we ask that you respect the whims and wishes of staff.
      </p>

      <p>
        If you have a particular need from any venue and staff are unable to comply, please contact us so that we can speak to the appropriate person on your behalf.
      </p>

      <p>
        Please also be aware of the folks around you and show courtesy and respect for folks who may have different perspectives and different lived experiences to your own.
      </p>

      <SectionSubheader>The policy is universal</SectionSubheader>
      <p>
        Sponsors are also subject to this policy and we ask all sponsors to familiarise with this code of conduct anyone on whose behalf they buy tickets.
      </p>

      <SectionSubheader>Expectations and reporting</SectionSubheader>
      <p>
        Participants asked to stop any harassing behavior are expected to comply immediately.
      </p>

      <p>
        If a participant engages in harassing behavior, the conference organisers may take any action they deem appropriate, including warning the offender or expulsion from the conference with no refund.
      </p>

      <p>
        If you are being harassed, notice that someone else is being harassed, or have any other concerns, please contact either Paul, Eamon, or a member of our team that we identify in the course of the conference organisation. If you wish to raise a complaint about any of us, please raise it with another member.
      </p>

      <p>
        We will provide a means of reporting code of conduct violations through our online platform, Vito.
      </p>

      <p>
        Conference staff will be happy to help participants contact hotel/venue security or local law enforcement, provide escorts, or otherwise assist those experiencing harassment to feel safe for the duration of the conference. We value your attendance.
      </p>

      <SectionSubheader>The bottom line</SectionSubheader>
      <p>
        We expect participants to follow these rules at conference and workshop venues and conference-related social events.
      </p>

      <p>
        This code of conduct was inspired and adapted from <a href="https://confcodeofconduct.com" class="font-bold">Conf code of conduct</a>.
      </p>
    </SectionContent>
  </TickTockSection>
</Layout>
