---
import Layout from '../../layouts/2023.astro';
import TickTockSection from "../../components/TickTockSection.vue"
import SectionContent from "../../components/SectionContent.vue"
import SectionHeader from "../../components/SectionHeader.astro"
import SectionSubheader from "../../components/SectionSubheader.vue"
---
<Layout title="This Next Thing 2023 - Contact">
  <TickTockSection id="what" type="tick">
    <SectionContent>
      <SectionHeader>Contact Details</SectionHeader>

      <p>You can contact us on our <a href="https://discord.gg/Mux6Ht8z" class="font-bold">Discord server</a>.</p>

      <p>Alternatively, you can reach Paul on Twitter <a href="https://twitter.com/paulca" class="font-bold">@paulca</a> or Mastodon <a href="https://mastodon.social/@paulca" class="font-bold">@paulca@mastodon.social</a> or email <a href="mailto:paul@tito.io" class="font-bold">paul@tito.io</a>.</p>
    </SectionContent>
  </TickTockSection>
</Layout>
