---
import Layout from '../../layouts/2023.astro';
import TickTockSection from "../../components/TickTockSection.vue"
import SectionContent from "../../components/SectionContent.vue"
import SectionHeader from "../../components/SectionHeader.astro"
import SectionSubheader from "../../components/SectionSubheader.vue"
---
<Layout title="This Next Thing 2023 - Guide to booking">
  <TickTockSection id="what" type="tock">
    <SectionContent>
      <SectionHeader>Family policy</SectionHeader>

      <p>
        One of the reasons for choosing Grand Hotel Kronenhof as the venue is that they are <a href="https://www.kronenhof.com/en/hotel/children-family/" class="font-bold">very welcoming for children</a>. Amenities include:

        <ul class="list-disc list-outside ml-8">
          <li>A kids’ club, with activities</li>
          <li>Babysitting by request</li>
          <li>A kids’ programme</li>
          <li>A kid-specific restaurant</li>
          <li>A kids water-play area</li>
          <li>Swimming lessons by request</li>
        </ul>
      </p>

      <p>
        Both Paul and Eamo have kids and we understand the stress and joys that they bring.
      </p>

      <p>
        We encourage anyone who wants to or needs to to bring kids. Kids are welcome in all locations and during all scheduled activities.
      </p>

      <p>
        We encourage responsible parenting. As parents ourselves, we know that sometimes children can be forces unto themselves. We also recognise that folks who do not have kids can sometimes feel uncomfortable when kids are around.
      </p>

      <p>
        Our policy here is one that we will apply to ourselves: during scheduled events, parents are responsible for their kids. We would ask that parents exercise their own judgment, and that non-parents be welcoming of children and respectful of parents.
      </p>

      <p>
        Further, we are unable to accept any specific liability around childcare. Child-care will be provided by the hotel, so the relationship and responsibility for childcare specific activities where children are not in your care are between you and the hotel.
      </p>
    </SectionContent>
  </TickTockSection>
</Layout>
