---
import Layout from '../../layouts/2023.astro';
import TickTockSection from "../../components/TickTockSection.vue"
import SectionContent from "../../components/SectionContent.vue"
import SectionHeader from "../../components/SectionHeader.vue"
import SectionSubheader from "../../components/SectionSubheader.vue"
---
<Layout title="This Next Thing 2023 - Policies">
  <TickTockSection id="what" type="tock">
    <SectionContent>
      <SectionHeader>Policies</SectionHeader>

      <p>
        Please note that these policies are an effort to be explicit about the status quo, rather than assuming implicit understanding. We appreciate feedback. Please feel free to <a href="/2023/contact" class="font-bold">contact us</a>.
      </p>
    </SectionContent>
  </TickTockSection>

  <TickTockSection id="what" type="tick">
    <SectionContent>
      <SectionHeader>Refund policy</SectionHeader>

      <p>
        Tickets are refundable by request up to 90 days before the event. The last day for refunds is Monday 27 March 2023.
      </p>

      <p>
        We would encourage folks to take out insurance which would cover cancellations in the event of the need to cancel.
      </p>
    </SectionContent>
  </TickTockSection>

  <TickTockSection id="what" type="tock">
    <SectionContent>
      <SectionHeader>Covid-19 Policy</SectionHeader>

      <p>
        As of writing, there are currently <a href="https://www.bag.admin.ch/bag/en/home/krankheiten/ausbrueche-epidemien-pandemien/aktuelle-ausbrueche-epidemien/novel-cov/massnahmen-des-bundes.html#850493620">no national rules in Switzerland</a> in place specific to Covid-19.
      </p>

      <p>
        Masking, proof-of-vaccination, and/or testing are not mandatory for this event.
      </p>

      <p>
        If you develop Covid-19 or other respiratory or viral symptoms while at the event, we would encourage you to take measures to prevent the spread.
      </p>

      <p>
        Since this event involves moving and travelling as a group, we cannot recommend it to those who are vulnerable and/or immunocompromised.
      </p>

      <p>
        We would encourage everyone to bring and take a rapid antigen test before travel.
      </p>
    </SectionContent>
  </TickTockSection>

  <TickTockSection id="what" type="tick">
    <SectionContent>
      <SectionHeader>Family policy</SectionHeader>

      <p>
        One of the reasons for choosing Grand Hotel Kronenhof as the venue is that they are <a href="https://www.kronenhof.com/en/hotel/children-family/" class="font-bold">very welcoming for children</a>. Amenities include:
      </p>

      <ul class="list-disc list-outside ml-8 mb-4">
        <li>A kids’ club, with activities</li>
        <li>Babysitting by request</li>
        <li>A kids’ programme</li>
        <li>A kid-specific restaurant</li>
        <li>A kids water-play area</li>
        <li>Swimming lessons by request</li>
      </ul>

      <p>
        Both Paul and Eamo have kids and we understand the stress and joys that they bring.
      </p>

      <p>
        We encourage anyone who wants to or needs to to bring kids. Kids are welcome in all locations and during all scheduled activities.
      </p>

      <p>
        We encourage responsible parenting. As parents ourselves, we know that sometimes children can be forces unto themselves. We also recognise that folks who do not have kids can sometimes feel uncomfortable when kids are around.
      </p>

      <p>
        Our policy here is one that we will apply to ourselves: during scheduled events, parents are responsible for their kids. We would ask that parents exercise their own judgment, and that non-parents be welcoming of children and respectful of parents.
      </p>

      <p>
        Further, we are unable to accept any specific liability around childcare. Childcare will be provided by the hotel, so the relationship and responsibility for childcare-specific activities where children are not in your care are between you and the hotel.
      </p>
    </SectionContent>
  </TickTockSection>

  <TickTockSection id="what" type="tock">
    <SectionContent>
      <SectionHeader>Public liability</SectionHeader>

      <p>
        We will have public liability insurance via our private insurers.
      </p>

      <p>
        Any physical excursions, biking, walking, hiking, etc. will not be covered and we encourage you to take out private travel insurance if you plan to take part in physical activities.
      </p>

      <p>
        Our insurance does not cover childcare, which will be the joint responsibility of parents, the hotel, and any private childcare.
      </p>
    </SectionContent>
  </TickTockSection>

  <TickTockSection id="what" type="tick">
      <SectionContent>
        <SectionHeader>Privacy</SectionHeader>

        <p>
          During registration, you will be required to provide contact information and some additional information to assist us organising the event.
        </p>

        <p>
          By default, none of this information will be shared with any third party without your explicit consent, except:
        </p>

        <p>
          We will share name and email details with the hotel for the provision of booking your accommodation.
        </p>
      </SectionContent>
    </TickTockSection>
</Layout>
