---
import Layout from '../../layouts/2023.astro';
import TickTockSection from "../../components/TickTockSection.astro"
import SectionContent from "../../components/SectionContent.astro"
import SectionHeader from "../../components/SectionHeader.astro"
import SectionSubheader from "../../components/SectionSubheader.astro"
---
<Layout title="This Next Thing 2023 - Guide to booking">
  <TickTockSection id="what" type="tock">
    <SectionContent>
      <SectionHeader>Questions</SectionHeader>

      <dl>
        <dt class="font-bold">What’s the point of This Next Thing?</dt>
        <dd>
          <p>
            When we original set out to organise Funconf, the brief we set ourselves was to create something that wasn’t "just a bunch of talks in a conference room".
          </p>

          <p>
            Fundamentally, relationships are the most valuable, actually invaluable things that we have as humans that define us and enrich us in ways that more tangible valuables cannot.
          </p>

          <p>
            We want an event like This Next Thing to encourage and enrich the potential for making remarkable, lasting, meaningful relationships. Elements like travelling together, meeting informally beforehand, building step by step up to a grand banquet, and unwinding afterwards, with lots of space in between, emphasise that coming together is about relationships.
          </p>
        </dd>

        <dt class="font-bold">Who is it for?</dt>
        <dd>
          <p>
            This Next Thing is for folks who love technology for technology’s sake, but also want to explore the humanity and artistry behind tech. We self-identify by our curiosity about the world, and our willingness to learn from each other.
          </p>
        </dd>

        <dt class="font-bold">Will you publish a schedule of talks?</dt>
        <dd>
          Maybe. Part of the fun of Funconf was the mystery of it all. We did somewhat overdo it back then. This time we do plan to publish a schedule of events for when you get there at the latest.
        </dd>

        <dt class="font-bold">What’s the cost breakdown?</dt>
        <dd>
          The cost includes two nights accommodation, two breakfasts, two dinners, two lunches, and the conference itself. It’s roughly 45% accommodation, 30% food, and the rest on programming.
        </dd>

        <dt class="font-bold">What’s the food situation?</dt>
        <dd>
          We care about quality, inclusive catering. Lunch on the travel day will be light and simple. All plated food options will be vegetarian, with meat options available. Dinner on the travel day will be with a small group, and the main day will be a banquet.
        </dd>

        <dt class="font-bold">What about drinks?</dt>
        <dd>
          Since it’s a hotel, drinks will be available to purchase at your discretion. Drinks at mealtimes will be included.
        </dd>

        <dt class="font-bold">Are families really welcome?</dt>
        <dd>
          <p>Yes! While we won’t have a specific "kids" programme, we can arrange child-minding and some activities depending on specifics.</p>
          <p>We should be able to arrange some extra single beds in your room for kids.</p>
          <p>If you have special requirements, talk to us (i.e. me. I'm bringing my kids —Paul)!</p>
        </dd>

        <dt class="font-bold">Why Switzerland?</dt>
        <dd>
          <p>Funconf started when Jonathan Siegel put his faith in us in 2010. Jonathan suggested hosting a comeback event in Switzerland in 2023, and we agreed.</p>
        </dd>

        <dt class="font-bold">Why Pontresina?</dt>
        <dd>
          <p>
            We didn’t want just any old venue, so we did a lot of research into some really outstanding venues throughout the country. We settled on the Grand Kronenhof Hotel because it had a wonderful balance of many of our criteria: flexible, lots of little spaces, an idiosyncratic combination of old and new spaces, children-welcome, lavish but not over-the-top, to name a frew.
          </p>
        </dd>

        <dt class="font-bold">Do I need to dress up?</dt>
        <dd>
          No, but if you want to, do! As places to wear fancy clothes go, you’ll fit right in. Either way, it’s fine. Very much "you be you".
        </dd>

        <dt class="font-bold">Is there electric car charging available?</dt>
        <dd>
          Yes, right near the hotel in Pontresina.
        </dd>

        <dt class="font-bold">I have more questions!</dt>
        <dd>
          Ask Paul on Twitter <a href="https://twitter.com/paulca">@paulca</a> or Mastodon <a href="https://mastodon.social/@paulca">@paulca@mastodon.social</a> or email <a href="mailto:paul@tito.io">paul@tito.io</a>.
        </dd>
      </dl>
    </SectionContent>
  </TickTockSection>
</Layout>