---
import Layout from '../../layouts/2023.astro';
import TickTockSection from "../../components/TickTockSection.vue"
import SectionContent from "../../components/SectionContent.vue"
import SectionHeader from "../../components/SectionHeader.astro"
import SectionSubheader from "../../components/SectionSubheader.vue"
---
<Layout title="This Next Thing 2023 - Guide to booking">
  <TickTockSection id="what" type="tick">
    <SectionContent>
      <SectionHeader>Questions</SectionHeader>
      <p>If you have any other questions not covered here, ask Paul on Twitter <a href="https://twitter.com/paulca">@paulca</a> or Mastodon <a href="https://mastodon.social/@paulca">@paulca@mastodon.social</a> or email <a href="mailto:paul@tito.io">paul@tito.io</a>.</p>
    </SectionContent>
  </TickTockSection>

  <TickTockSection id="what" type="tock">
    <SectionContent>
      <SectionSubheader>Is this just Funconf 4?</SectionSubheader>
      <p>
        No. Funconf was its own thing, of its own time. It’s the same people, but things have changed a lot in the last 10 years. We think of it as a spiritual successor, but "This Next Thing" is its own ... thing, if you will.
      </p>
    </SectionContent>
  </TickTockSection>

  <TickTockSection id="what" type="tick">
    <SectionContent>
      <SectionSubheader>What’s the point of This Next Thing?</SectionSubheader>
        <p>
          When we originally set out to organise Funconf, the brief we set ourselves was to create something that wasn’t "just a bunch of talks in a conference room".
        </p>

        <p>
          Fundamentally, relationships are the most valuable—actually invaluable—things that we have as humans that define us and enrich us in ways that more tangible valuables cannot.
        </p>

        <p>
          We want an event like This Next Thing to encourage and enrich the potential for making remarkable, lasting, meaningful relationships. Elements like travelling together, meeting informally beforehand, building step-by-step up to a grand banquet, and unwinding afterwards, with lots of space in-between, emphasise that coming together is about relationships.
        </p>
    </SectionContent>
  </TickTockSection>

  <TickTockSection id="what" type="tock">
    <SectionContent>
      <SectionSubheader>Who is it for?</SectionSubheader>
        <p>
          This Next Thing is for folks who love technology for technology’s sake, but also want to explore the humanity and artistry behind tech. We self-identify by our curiosity about the world, and our willingness to learn from each other.
        </p>
    </SectionContent>
  </TickTockSection>

  <TickTockSection id="what" type="tock">
    <SectionContent>
      <SectionSubheader>Will you publish a schedule of talks?</SectionSubheader>
        <p>Maybe. Part of the fun of Funconf was the mystery of it all. We did somewhat overdo it back then. This time we do plan to publish a schedule of events for when you get there at the latest.</p>
    </SectionContent>
  </TickTockSection>

  <TickTockSection id="what" type="tick">
    <SectionContent>
      <SectionSubheader>What’s the cost breakdown?</SectionSubheader>
        <p>The cost includes two nights accommodation, two breakfasts, three dinners, two lunches, and the conference itself. It’s roughly 45% accommodation, 30% food, and the rest on programming.</p>
    </SectionContent>
  </TickTockSection>

  <TickTockSection id="what" type="tock">
    <SectionContent>
      <SectionSubheader>What’s the food situation?</SectionSubheader>
        <p>We care about quality, inclusive catering. Lunch on the travel day will be light and simple. All plated food options will be vegetarian, with meat options available. Dinner on the travel day will be with a small group, and the main day will be a banquet.</p>
    </SectionContent>
  </TickTockSection>

  <TickTockSection id="what" type="tick">
    <SectionContent>
      <SectionSubheader>What about drinks?</SectionSubheader>
        <p>
          Since it’s a hotel, drinks will be available to purchase at your discretion. Drinks at mealtimes will be included.
        </p>
    </SectionContent>
  </TickTockSection>

  <TickTockSection id="what" type="tock">
    <SectionContent>
      <SectionSubheader>Are families really welcome?</SectionSubheader>
        <p>Yes! While we won’t have a specific "kids" programme, we can arrange child-minding and some activities depending on specifics.</p>
        <p>We should be able to arrange some extra single beds in your room for kids.</p>
        <p>If you have special requirements, talk to us (i.e. me. I'm bringing my kids —Paul)!</p>
    </SectionContent>
  </TickTockSection>

  <TickTockSection id="what" type="tick">
    <SectionContent>
      <SectionSubheader>Why Switzerland?</SectionSubheader>
        <p>Funconf started when Jonathan Siegel put his faith in us in 2010. Jonathan suggested hosting a comeback event in Switzerland in 2023, and we agreed.</p>
    </SectionContent>
  </TickTockSection>

  <TickTockSection id="what" type="tock">
    <SectionContent>
      <SectionSubheader>Why Pontresina?</SectionSubheader>
        <p>
          We didn’t want just any old venue, so we did a lot of research into some really outstanding venues throughout the country. We settled on the Grand Kronenhof Hotel because it had a wonderful balance of many of our criteria: flexible, lots of little spaces, an idiosyncratic combination of old and new spaces, children-welcome, lavish but not over-the-top, to name a few.
        </p>
    </SectionContent>
  </TickTockSection>

  <TickTockSection id="what" type="tick">
    <SectionContent>
      <SectionSubheader>Do I need to dress up?</SectionSubheader>
        <p>
          No, but if you want to, do! As places to wear fancy clothes go, you’ll fit right in. Either way, it’s fine. Very much "you be you".
        </p>
    </SectionContent>
  </TickTockSection>

  <TickTockSection id="what" type="tock">
    <SectionContent>
      <SectionSubheader>Is there electric car charging available?</SectionSubheader>
        <p>Yes, right near the hotel in Pontresina.</p>
    </SectionContent>
  </TickTockSection>
</Layout>