---
export interface Props {
	title: string;
}

import contours from "../images/contours.svg"
const { title } = Astro.props;
import MainMenu from "../components/MainMenu.vue"
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.png" />
		<link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🧨</text></svg>">
		<meta name="generator" content={Astro.generator} />
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		
		<title>{title}</title>
		<meta name="description" content="The spiritual successor to Funconf">
		<script src="https://js.tito.io/v2" async></script>
	</head>
	<body>
		<slot />
	</body>
</html>

<style is:global define:vars={{ contours }}>
	html {

		color: #F6F6F6;

		background-image: url(/src/images/contours.svg);
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
	}
</style>
