---
export interface Props {
	title: string;
}

import contours from "../images/contours.svg"
const { title } = Astro.props;
import MainMenu from "../components/MainMenu.vue"

import Favicon from '../images/favicon.png';
import Flux from '../images/flux.svg';
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" sizes="any" href={Favicon} />
		<link rel="icon" type="image/svg+xml" href={Flux} />
		<meta name="generator" content={Astro.generator} />
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		
		<title>{title}</title>
		<meta name="description" content="The spiritual successor to Funconf">
	</head>
	<body class="bg-cover bg-fixed">
		<slot />
	</body>
</html>

<style is:global define:vars={{ contours }}>
	body {
		background-image: url(/src/images/contours.svg);
	}
</style>
